# Build Output
.astro/
dist/

# Dependencies
node_modules/

# Logs
yarn-debug.log*
yarn-error.log*

# Environment
.env

# Playwright
specs/artifacts/
specs/report/
/playwright/.cache/

# ESLint
.eslintcache

# Design Notes
.notes/
