{
  "bracketSpacing": true,
  "endOfLine": "auto",
  "overrides": [
    { "files": ["*.css"], "options": { "singleQuote": false } },
    { "files": ["*.astro", "*.html"], "options": { "printWidth": 160 } }
  ],
  "printWidth": 120,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false
}
