---
import BaseLayout from '@layouts/BaseLayout.astro';
import LargeHeading from '@components/typography/LargeHeading.astro';
import MediumHeading from '@components/typography/MediumHeading.astro';
import SmallHeading from '@components/typography/SmallHeading.astro';
import BadgeList from '@components/BadgeList.astro';
import HorizontalLine from '@components/HorizontalLine.astro';
import { SITE_TITLE } from '../config';

const title = `About | ${SITE_TITLE}`;
---

<BaseLayout title={title}>
  <LargeHeading text="About Me" />
  <HorizontalLine classes={['lg:w-3/5']} />
  <section class="mt-4 flex flex-col-reverse items-center lg:mt-0 lg:flex-row">
    <div class="lg:w-3/5">
      <p>Hey, I'm Joseph. I'm a software engineer who loves helping teams build quality software.</p>
      <p>
        My interest in programming began in 2011 when I was asked to build a simple marketing website for a former employer. I had no idea where to start, but I
        was thrilled to challenge myself and learn something completely new. So, I picked up an "Intro to HTML & CSS" book from the bookstore, pored over the
        material, and built the site. With that experience, I was hooked on building things with code!
      </p>
      <p>
        Fast-forward to today and I've had the privilege to work as a software engineer in test at two early-stage companies, where I've learned not only how to
        properly test software, but also how to build test frameworks from scratch, writing clean, maintainable and reusable code.
      </p>
      <p>
        Programming has become one of my chief hobbies, but I also enjoy going AFK and spending time with my family in the mountains hiking, camping, and
        snowboarding.
      </p>
    </div>
    <img id="headshot" class="mx-auto my-auto rounded-full" width="265" height="265" src="/images/headshot.jpg" alt="Image of my dog and I on a hike" />
  </section>
  <hr class="mb-6 mt-2 border-slate-700 lg:w-3/5" />
  <section>
    <MediumHeading text="Here are some technologies I've been working with lately" />
    <div class="mt-4 flex flex-col gap-y-3">
      <SmallHeading text="Languages" />
      <BadgeList badgeTexts={['JavaScript', 'TypeScript', 'Ruby']} />
      <SmallHeading text="Frameworks" />
      <BadgeList badgeTexts={['Ruby on Rails', 'Astro', 'Cypress', 'Bridgetown', 'Tailwind CSS', 'Playwright']} />
      <SmallHeading text="Tools" />
      <BadgeList badgeTexts={['Node.js', 'Docker', 'Prisma', 'CodeCov']} />
    </div>
  </section>
  <hr class="mb-6 mt-6 border-slate-700 lg:w-3/5" />
  <section>
    <MediumHeading text="What I'm reading" />
    <ul class="mt-4 list-inside text-muted">
      <li class="sm:list-disc"><em>The Normal Christian Life</em> - Watchman Nee</li>
      <li class="sm:list-disc"><em>The Old Man and the Boy</em> - Robert Ruark</li>
    </ul>
  </section>
</BaseLayout>

<script>
  const img = document.getElementById('headshot') as HTMLImageElement | null;
  const defaultImg = '/images/headshot.jpg';
  const accentImg = '/images/headshot2.jpg';

  if (img) {
    ['pointerover', 'pointerdown'].forEach((e) => {
      img.addEventListener(e, () => {
        img.src = accentImg;
      });
    });

    ['pointerout', 'pointerup'].forEach((e) => {
      img.addEventListener(e, () => {
        img.src = defaultImg;
      });
    });
  }
</script>
