---
import BaseLayout from '../layouts/BaseLayout.astro';
import LargeHeading from '../components/typography/LargeHeading.astro';
import MediumHeading from '../components/typography/MediumHeading.astro';
import SmallHeading from '../components/typography/SmallHeading.astro';
import BadgeList from '../components/BadgeList.astro';
import { SITE_TITLE } from '../config';
---

<BaseLayout title={`About | ${SITE_TITLE}`}>
  <LargeHeading text="About Me" />
  <hr class="my-6 border-slate-700 lg:mt-6 lg:mb-2 lg:w-3/5" />
  <section class="flex flex-col-reverse items-center lg:flex-row">
    <div class="lg:w-3/5">
      <p>
        Hey, I'm Joseph. I'm a software engineer who has a passion for building and helping teams create engaging
        software. My interest in programming began in 2013 when I was asked to build a website for a former employer. As
        I pored over material to learn HTML & CSS, I realized that being a self-taught developer was completely within
        my grasp, and what I wanted to pursue as a career.
      </p>
      <p>
        Fast-forward to today and I've had the privilege to work as a software engineer in test at two early-stage
        companies, where I've learned not only how to properly test software, but also how to build test frameworks from
        scratch, writing clean, maintainable and reusable code.
      </p>
      <p>
        When I'm not programming, I enjoy spending time with my family in the mountains snowboarding, hiking, and
        camping.
      </p>
    </div>
    <img
      class="mx-auto my-auto rounded-full"
      width="265"
      height="265"
      src="/images/headshot.jpg"
      alt="Image of my dog and I on a hike"
      onmouseover="this.src='/images/headshot2.jpg'"
      onmouseout="this.src='/images/headshot.jpg'"
    />
  </section>
  <hr class="mt-2 mb-6 border-slate-700 lg:w-3/5" />
  <section>
    <MediumHeading text="Here are some technologies I've been working with lately" />
    <div class="mt-4 flex flex-col gap-y-3">
      <SmallHeading text="Languages" />
      <BadgeList badgeTexts={['JavaScript', 'TypeScript', 'Ruby']} />
      <SmallHeading text="Frameworks" />
      <BadgeList badgeTexts={['Ruby on Rails', 'Astro', 'Cypress', 'Bridgetown', 'Tailwind CSS', 'Playwright']} />
      <SmallHeading text="Tools" />
      <BadgeList badgeTexts={['Node JS', 'Docker']} />
    </div>
  </section>
</BaseLayout>
