---
import BaseLayout from '../layouts/BaseLayout.astro';
import { SITE_TITLE } from '../config';
---

<BaseLayout title={SITE_TITLE}>
  <section>
    <h1 class="font-mono mb-5 pl-1 text-accent-purple text-xl">Hi, my name is</h1>
    <h2 class="mb-5 text-7xl">Joseph Risner.</h2>
    <div class="py-1">
      <h2 class="text-7xl text-slate-500">I build things for the web.</h2>
    </div>
    <p class="text-slate-500 w-3/5">
      I'm a software engineer specializing in testing (and occasionally building) web applications. Currently, I'm
      focused on building an E2E test suite at
      <a href="https://aumni.fund" class="text-accent-purple" target="_blank" data-testid="employerLink">Aumni</a>.
    </p>
    <a
      href="/blog"
      class="inline-block hover:bg-violet-900 hover:outline-none hover:text-primary mt-3 outline outline-1 px-5 py-3 rounded text-accent-purple"
      data-testid="blogLink"
    >
      Check out the latest blog articles
    </a>
  </section>
</BaseLayout>
