---
import BaseLayout from '../layouts/BaseLayout.astro';
import { SITE_TITLE } from '../config';
---

<BaseLayout title={SITE_TITLE}>
  <section class="text-center">
    <h1 class="mb-4 pl-1 tracking-wide text-muted">Hi there, I'm</h1>
    <h2 class="mb-4 bg-gradient-to-r from-primary to-secondary bg-clip-text text-6xl text-transparent md:text-8xl">
      Joseph Risner
    </h2>
    <p>I'm a software engineer who specializes in testing web apps</p>
  </section>
  <a
    href="/blog"
    class="mx-auto mt-8 rounded px-2 py-1 text-base text-primary outline outline-1 hover:bg-violet-900 hover:text-default hover:outline-none"
    data-testid="blogLink">View my latest blog articles</a
  >
</BaseLayout>
