---
const currentYear = new Date().getFullYear();
---

<footer class="py-3 text-center">
  <p class="my-0 text-muted text-xs">
    Created by <span class="text-default">Joseph Risner &copy; {currentYear}</span>
  </p>
</footer>
