---
const currentYear = new Date().getFullYear();
---

<footer class="flex-shrink-0 py-3 text-center">
  <p class="m-0 text-gray-500 text-xs">
    Created by
    <span class="text-primary">
      <a href="https://github.com/joerisner" class="text-primary" target="_blank" data-testid="githubLink"
        >Joseph Risner</a
      >
      &copy; {currentYear}
    </span>
  </p>
</footer>
