---
const currentYear = new Date().getFullYear();
---

<footer class="flex-shrink-0 py-3 text-center">
  <p class="text-gray-500 text-xs">
    Created by <span class="text-gray-200"
      ><a href="https://github.com/joerisner" class="text-primary">Joseph Risner</a> &copy; {currentYear}</span
    >
  </p>
</footer>
