---
import HeaderLink from './HeaderLink.astro';
---

<header class="flex flex-row">
  <nav class="mx-auto py-4">
    <ul class="flex px-4 items-center text-xl">
      <HeaderLink href="/" linkText="Home" />
      <HeaderLink href="/blog" linkText="Blog" />
      <li class="px-4"><a href="/"><img src="/logo.svg" /></a></li>
      <HeaderLink href="/about" linkText="About" />
      <HeaderLink href="/resume" linkText="Resume" />
    </ul>
  </nav>
</header>
