---
export interface Props {
  href: string;
  linkText: string;
}

const { href, linkText } = Astro.props;
---

<li class="px-12">
  <a href={href} class="hover:text-slate-400" data-testid={`navLink${linkText}`}>{linkText}</a>
</li>
