---
import NavLink from './NavLink.astro';
---

<header class="mx-auto py-8">
  <nav data-testid="navBar">
    <ul class="flex items-center text-xl gap-16">
      <NavLink href="/" linkText="home" />
      <NavLink href="/blog" linkText="blog" />
      <li><a href="/"><img alt="Joseph logo link to home" src="/joseph_purple.png" width="135" height="70" /></a></li>
      <NavLink href="/about" linkText="about" />
      <NavLink href="/resume" linkText="resume" />
    </ul>
  </nav>
</header>
