---
interface Props {
  href: string;
  text: string;
}

const { href, text, ...rest } = Astro.props;
---

<a
  role="button"
  href={href}
  class="mx-auto rounded border border-primary px-2 py-1 text-base text-primary transition hover:border-transparent hover:bg-violet-900 hover:text-default"
  {...rest}
  >{text}
</a>
