body {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  width: 80%;
  word-wrap: break-word;
}

a {
  color: #c792ea;
  text-decoration: none;
}

strong {
  font-weight: 550;
  color: #ffeb95;
}

code {
  border-radius: 3px;
}

code,
pre {
  font-family:
    SFMono-Regular,
    Consolas,
    Liberation Mono,
    Menlo,
    Courier,
    monospace;
  font-size: 0.9rem;
  background-color: rgba(255, 255, 255, 0.064);
}

code {
  color: #f78c6c;
}

h2,
h3 {
  color: #ff5874;
}

h1 {
  color: #80cbc4;
  font-size: 2rem;
  margin: 0.67rem 0;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

blockquote {
  font-style: italic;
}

h4 {
  margin-left: 1.25rem;
  text-decoration: underline;
}

img {
  border-style: none;
  background-color: #ffffff;
  box-sizing: content-box;
  max-width: 100%;
}

::selection {
  background: #ffb7b7;
  color: #000000;
}

td,
table {
  border-width: 1px;
  border-style: solid;
}

th {
  background-color: rgba(255, 255, 255, 0.064);
  border-style: unset;
}
