name: test

on:
  pull_request:

permissions:
  contents: read

jobs:
  playwright:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v5
      - name: setup node
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: npm
      - run: npm ci
      - name: install browsers
        run: npx playwright install --with-deps
      - name: run tests
        run: make test
      - uses: actions/upload-artifact@v6
        if: ${{ failure() }}
        with:
          path: |
            test/artifacts/
            !test/artifacts/.last-run.json
            test/report/
          retention-days: 1
